# Untracked everything by default
/*

# Explicitly allow files
!LICENSE
!README.md
!.gitignore
!.gitmodules

# Allow dictories
!hardware/
!hardware/**
!hardware/3d_print_parts/
!hardware/3d_print_parts/**
!hardware/3d_print_parts/Gearbox
!hardware/3d_print_parts/Gearbox/**

!stm32/
!stm32/**

stm32/Debug/
